@-webkit-keyframes slideopen {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideopen {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes locationanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes locationanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes addressanimation {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes addressanimation {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes rentbtnanimation {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes rentbtnanimation {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes burgeropen {
  from {
    min-height: 0px;
    height: 0px;
  }
  to {
    min-height: 300px;
    height: 300px;
  }
}

@keyframes burgeropen {
  from {
    min-height: 0px;
    height: 0px;
  }
  to {
    min-height: 300px;
    height: 300px;
  }
}

@-webkit-keyframes burgerclose {
  from {
    min-height: 300px;
    height: 300px;
  }
  to {
    min-height: 0px;
    height: 0px;
    padding: 0;
  }
}

@keyframes burgerclose {
  from {
    min-height: 300px;
    height: 300px;
  }
  to {
    min-height: 0px;
    height: 0px;
    padding: 0;
  }
}

@-webkit-keyframes downtoup {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes downtoup {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes lefttoright {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes lefttoright {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes righttoleft {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes righttoleft {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  0% {
    background-color: white;
  }
  40%, 70% {
    background-color: rgba(0, 0, 0, 0);
  }
  70% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    background-color: rgba(0, 0, 0, 0);
    display: none;
  }
}

@keyframes loader {
  0% {
    background-color: white;
  }
  40%, 70% {
    background-color: rgba(0, 0, 0, 0);
  }
  70% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    background-color: rgba(0, 0, 0, 0);
    display: none;
  }
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

a {
  color: #000000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.greenSpan {
  color: #2eca6a;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2eca6a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1e8847;
}

.loader.loaded {
  -webkit-animation: loader 2000ms forwards;
          animation: loader 2000ms forwards;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.water {
  width: 200px;
  height: 200px;
  background-color: #2eca6a;
  border-radius: 50%;
  position: relative;
  -webkit-box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.5), 0 4px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.5), 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.water:before, .water:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  top: -80px;
  background-color: #fff;
}

.water:before {
  border-radius: 45%;
  background: rgba(255, 255, 255, 0.7);
  -webkit-animation: wave 5s linear infinite;
          animation: wave 5s linear infinite;
}

.water:after {
  border-radius: 35%;
  background: rgba(255, 255, 255, 0.3);
  -webkit-animation: wave 5s linear infinite;
          animation: wave 5s linear infinite;
}

.titleWrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 64px;
}

.titleWrap h1 {
  font-size: 2.6rem;
  padding-left: 10px;
}

.titleWrap h1.show {
  -webkit-animation: lefttoright 500ms forwards;
          animation: lefttoright 500ms forwards;
}

.titleWrap a {
  font-size: 1.2rem;
  padding-right: 10px;
}

.titleWrap a:hover {
  color: #2eca6a;
}

.titleWrap a.show {
  -webkit-animation: righttoleft 500ms forwards;
          animation: righttoleft 500ms forwards;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

@media (max-width: 480px) {
  .titleWrap a {
    display: none;
  }
}

.Section {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  min-height: 50vh;
  padding-top: 128px;
}

.none {
  display: none;
}

.hide {
  opacity: 0;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

@media (max-width: 1200px) {
  .hide {
    opacity: 1;
  }
}

nav {
  width: 100%;
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: fixed;
  z-index: 10;
  -webkit-box-shadow: 1px 2px 10px #646464;
          box-shadow: 1px 2px 10px #646464;
}

nav .navWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

nav .navWrap .burger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  display: none;
}

@media (max-width: 768px) {
  nav .navWrap .burger {
    display: block;
  }
}

nav .navWrap .burger .on {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: none;
}

nav .navWrap .burger .off {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .navWrap .burger .line {
  background-color: black;
  width: 100%;
  height: 3px;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

nav .navWrap .burgerActive .firstLine {
  -webkit-transform: translate(0%, 8px) rotate(45deg);
          transform: translate(0%, 8px) rotate(45deg);
}

nav .navWrap .burgerActive .middleLine {
  opacity: 0;
}

nav .navWrap .burgerActive .lastLine {
  -webkit-transform: translate(0%, -8px) rotate(-45deg);
          transform: translate(0%, -8px) rotate(-45deg);
}

nav .navWrap .navLeft a {
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

nav .navWrap .navLeft a span {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

nav .navWrap .navLeft a:hover {
  color: #2eca6a;
}

nav .navWrap .navRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

@media (max-width: 1200px) {
  nav .navWrap .navRight {
    width: 60%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 768px) {
  nav .navWrap .navRight {
    display: none;
  }
}

nav .navWrap .navRight a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

nav .navWrap .navRight a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #2eca6a;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .navWrap .navRight a:hover::after {
  opacity: 1;
}

nav .navWrap .search {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #2eca6a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navWrap .search ion-icon {
  color: white;
}

.searchMenu.searchActive {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 1px 2px 50px #646464;
          box-shadow: 1px 2px 50px #646464;
}

.searchMenu {
  height: 100vh;
  width: 50vw;
  position: fixed;
  right: 0;
  z-index: 100;
  background-color: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .searchMenu {
    width: 100%;
  }
}

.searchMenu .searchTitleWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.searchMenu .searchTitleWrap h1 {
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 480px) {
  .searchMenu .searchTitleWrap h1 {
    font-size: 1.5rem;
  }
}

.searchMenu .searchTitleWrap .exitbtn {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.searchMenu .searchTitleWrap .exitbtn ion-icon {
  width: 100%;
  height: 100%;
}

.searchMenu .inputsWrap {
  padding-left: 10%;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .searchMenu .inputsWrap {
    margin-bottom: 20px;
  }
}

.searchMenu .inputsWrap .keywordWrap {
  min-width: 100%;
  margin-bottom: 0.5rem;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.searchMenu .inputsWrap .keywordWrap label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.searchMenu .inputsWrap .keywordWrap input {
  height: 3.5rem;
  border-radius: 0px;
  font-size: 1.1rem;
  font-weight: 300;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  display: block;
  width: 100%;
  border: 1px solid #ced4da;
  color: #495057;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.searchMenu .inputsWrap .keywordWrap input:focus {
  border: 1px solid #2eca6a;
}

.searchMenu .inputsWrap .selectWrap {
  min-width: 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .searchMenu .inputsWrap .selectWrap {
    min-width: 100%;
    max-width: 100%;
  }
}

.searchMenu .inputsWrap .selectWrap label {
  display: inline-block;
  margin-bottom: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.searchMenu .inputsWrap .selectWrap select {
  height: 3.5rem;
  min-width: 100%;
  max-width: 100%;
  border-radius: 0;
  font-size: 1.1rem;
  font-weight: 300;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  display: block;
  color: #495057;
  outline: none;
  border: 1px solid #ced4da;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.searchMenu .inputsWrap .selectWrap select option {
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #495057;
}

.searchMenu .inputsWrap .selectWrap select:focus {
  border: 1px solid #2eca6a;
}

.searchMenu .inputsWrap .searchbtnWrap {
  min-width: 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.searchMenu .inputsWrap .searchbtnWrap .searchbtn {
  background-color: #2eca6a;
  border-radius: 0;
  padding: 1rem 3rem;
  letter-spacing: .05rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
}

.burgerMenu {
  width: 100%;
  max-height: 300px;
  position: fixed;
  top: 115px;
  background-color: white;
  z-index: 2;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-box-shadow: 1px 2px 15px #646464;
          box-shadow: 1px 2px 15px #646464;
}

.burgerMenu .burger {
  width: 540px;
}

.burgerMenu .burger .burgerLinks {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.burgerMenu .burger .burgerLinks a {
  font-size: 1.1rem;
  font-weight: 500;
}

.burgerMenu .burger .burgerLinks a:hover {
  color: #2eca6a;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: burgeropen 500ms forwards;
          animation: burgeropen 500ms forwards;
}

@media (min-width: 768px) {
  .active {
    display: none;
  }
}

.deactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: burgerclose 500ms forwards;
          animation: burgerclose 500ms forwards;
}

main .mainSlider {
  width: 100%;
}

main .mainSlider .mainSlide1,
main .mainSlider .mainSlide2,
main .mainSlider .mainSlide3 {
  width: 100%;
  height: calc(100vh - 115px);
  margin-top: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  main .mainSlider .mainSlide1,
  main .mainSlider .mainSlide2,
  main .mainSlider .mainSlide3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .mainSlider .mainSlide1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/slide-1.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/slide-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

main .mainSlider .mainSlide2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/slide-2.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/slide-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

main .mainSlider .mainSlide3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/slide-3.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/slide-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

main .mainSlider .mainSlideContentWrap {
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 100px;
}

@media (max-width: 768px) {
  main .mainSlider .mainSlideContentWrap {
    margin: 0;
    height: 240px;
  }
}

@media (max-width: 900px) {
  main .mainSlider .mainSlideContentWrap {
    height: 300px;
  }
}

main .mainSlider .mainSlideContentWrap h1,
main .mainSlider .mainSlideContentWrap p,
main .mainSlider .mainSlideContentWrap a {
  color: white;
}

main .mainSlider .mainSlideContentWrap h1 {
  font-size: 4.5rem;
}

@media (max-width: 768px) {
  main .mainSlider .mainSlideContentWrap h1 {
    font-size: 2.8rem;
  }
}

@media (max-width: 900px) {
  main .mainSlider .mainSlideContentWrap h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  main .mainSlider .mainSlideContentWrap h1 {
    font-size: 2rem;
  }
}

main .mainSlider .mainSlideContentWrap .rentbtn {
  width: 230px;
  height: 70px;
  border: 2px solid #2eca6a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

@media (max-width: 768px) {
  main .mainSlider .mainSlideContentWrap .rentbtn {
    width: 150px;
    height: 40px;
  }
}

main .mainSlider .mainSlideContentWrap .rentbtn a {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  main .mainSlider .mainSlideContentWrap .rentbtn a {
    font-size: 1.2rem;
  }
}

main .mainSlider .mainSlideContentWrap .rentbtn:hover {
  background-color: #2eca6a;
}

.services .contentWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .services .contentWrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.services .titlewrap {
  width: 100%;
  padding-bottom: 60px;
}

.services .titlewrap.show {
  -webkit-animation: lefttoright 500ms forwards;
          animation: lefttoright 500ms forwards;
}

.services .titlewrap h1 {
  padding-left: 10px;
  font-size: 2.6rem;
  font-weight: 600;
}

.services .content {
  width: 350px;
  height: 265px;
}

@media (max-width: 1200px) {
  .services .content {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 45%;
  }
}

@media (max-width: 768px) {
  .services .content {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .services .content {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.services .content:nth-child(1).show {
  -webkit-animation: downtoup 500ms forwards;
          animation: downtoup 500ms forwards;
}

.services .content:nth-child(2).show {
  -webkit-animation: downtoup 500ms forwards;
          animation: downtoup 500ms forwards;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.services .content:nth-child(3).show {
  -webkit-animation: downtoup 500ms forwards;
          animation: downtoup 500ms forwards;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.services .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 16px 16px 16px;
}

.services .top .iconwrap {
  padding: 1rem 3rem 1rem 2.5rem;
  border: 5px solid #2eca6a;
}

.services .top .iconwrap ion-icon {
  width: 50px;
  height: 50px;
}

.services .top p {
  font-size: 2.5rem;
  margin-left: -40px;
}

.services .desc {
  padding: 8px 8px 16px 8px;
}

.services .readMore {
  padding-left: 8px;
}

.services .readMore a:hover {
  color: #2eca6a;
}

.latestProperties .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latestProperties .content.show {
  -webkit-animation: downtoup 500ms forwards;
          animation: downtoup 500ms forwards;
}

.latestProperties .content .firstproperty {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/property-6.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/property-6.jpg");
}

.latestProperties .content .secondproperty {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/property-3.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/property-3.jpg");
}

.latestProperties .content .thirdproperty {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/property-7.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/property-7.jpg");
}

.latestProperties .content .fourthproperty {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/property-10.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/property-10.jpg");
}

.latestProperties .content .property {
  width: 350px;
  height: 465px;
  margin: 0 15px;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.latestProperties .content .property:hover .propertyContent {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.latestProperties .content .property .propertyContent {
  -webkit-transform: translateY(65px);
          transform: translateY(65px);
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.latestProperties .content .property .title {
  padding-left: 16px;
  padding-bottom: 12px;
  color: white;
}

.latestProperties .content .property .title p {
  font-size: 2rem;
}

.latestProperties .content .property .rent {
  width: 150px;
  height: 45px;
  border: 2px solid #2eca6a;
  border-radius: 50px;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
  margin-bottom: 8px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.latestProperties .content .property .rent:hover {
  background-color: #2eca6a;
}

.latestProperties .content .property .rent a {
  color: white;
}

.latestProperties .content .property .view {
  padding-left: 16px;
}

.latestProperties .content .property .view a {
  color: white;
}

.latestProperties .content .property .info {
  width: 100%;
  height: 65px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2eca6a;
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.latestProperties .content .property .info .number {
  color: white;
}

.latestProperties .content .property .info .number span {
  vertical-align: super;
  font-size: 10px;
}

.bestAgents .agentsTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 64px;
}

.bestAgents .agentsTitle h1 {
  font-size: 2.6rem;
  padding-left: 10px;
}

.bestAgents .agentsTitle a {
  font-size: 1.2rem;
  padding-right: 10px;
}

@media (max-width: 480px) {
  .bestAgents .agentsTitle a {
    display: none;
  }
}

.bestAgents .allAgents {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .bestAgents .allAgents {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.bestAgents .allAgents .firstAgent {
  background-image: url("../img/agent-4.jpg");
}

.bestAgents .allAgents .secondAgent {
  background-image: url("../img/agent-1.jpg");
}

.bestAgents .allAgents .thirdAgent {
  background-image: url("../img/agent-5.jpg");
}

.bestAgents .allAgents .agent {
  width: 350px;
  height: 400px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.bestAgents .allAgents .agent:nth-child(1).show {
  -webkit-animation: downtoup 500ms forwards;
          animation: downtoup 500ms forwards;
}

.bestAgents .allAgents .agent:nth-child(2).show {
  -webkit-animation: downtoup 500ms forwards;
          animation: downtoup 500ms forwards;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.bestAgents .allAgents .agent:nth-child(3).show {
  -webkit-animation: downtoup 500ms forwards;
          animation: downtoup 500ms forwards;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

@media (max-width: 1200px) {
  .bestAgents .allAgents .agent {
    width: 400px;
    height: 400px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .bestAgents .allAgents .agent {
    width: 90vw;
    height: 90vw;
  }
}

.bestAgents .allAgents .agent .agentInfo {
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(46, 202, 106, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  position: relative;
}

.bestAgents .allAgents .agent .agentInfo h2 {
  font-size: 2rem;
  padding: 16px 0;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  -webkit-transition: 700ms ease;
  transition: 700ms ease;
}

.bestAgents .allAgents .agent .agentInfo p {
  font-size: 1rem;
  padding: 8px 0;
  cursor: default;
}

.bestAgents .allAgents .agent .agentInfo .desc {
  color: #555555;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  -webkit-transition: 700ms ease;
  transition: 700ms ease;
}

@media (max-width: 480px) {
  .bestAgents .allAgents .agent .agentInfo .desc {
    display: none;
  }
}

.bestAgents .allAgents .agent .agentInfo .socials {
  width: 100%;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 700ms ease;
  transition: 700ms ease;
}

.bestAgents .allAgents .agent .agentInfo .socials .iconwrap {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bestAgents .allAgents .agent .agentInfo .socials .iconwrap ion-icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.bestAgents .allAgents .agent:hover .agentInfo {
  opacity: 1;
}

.bestAgents .allAgents .agent:hover .agentInfo h2,
.bestAgents .allAgents .agent:hover .agentInfo .desc {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.latestNews .newswrap {
  width: 100%;
}

.latestNews .newswrap.show {
  -webkit-animation: downtoup 500ms forwards;
          animation: downtoup 500ms forwards;
}

.latestNews .newswrap .news {
  position: relative;
  width: 350px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
}

.latestNews .newswrap .news .imgwrap {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 1000ms ease;
  transition: 1000ms ease;
}

.latestNews .newswrap .news .imgwrap .darklayer {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.288);
  z-index: 3;
}

.latestNews .newswrap .news .imgwrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.latestNews .newswrap .news .contentwrap {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.latestNews .newswrap .news .contentwrap .btn {
  width: 70px;
  height: 30px;
  font-size: 0.9rem;
  background-color: #2eca6a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #313131;
  letter-spacing: 0.03em;
  border-radius: 50px;
}

.latestNews .newswrap .news .contentwrap .title {
  color: white;
  font-size: 1.6rem;
  padding: 10px 0;
}

.latestNews .newswrap .news .contentwrap .date {
  font-size: 1rem;
  color: #d8d8d8;
}

.latestNews .newswrap .news:hover .imgwrap {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

footer {
  background-color: #f3f3f3;
  margin-top: 60px;
}

footer .line {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .line p {
  color: #555555;
}

footer .line a:hover {
  color: #2eca6a;
}

.footerwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  min-height: 20vh;
}

@media (max-width: 1200px) {
  .footerwrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1200px) {
  .footerwrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1200px) {
  .footerwrap .estateagencywrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footerwrap h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.footerwrap .estateagency, .footerwrap .company, .footerwrap .international {
  width: 350px;
  height: 260px;
  margin-left: 15px;
  margin-right: 15px;
}

@media (max-width: 1200px) {
  .footerwrap .estateagency, .footerwrap .company, .footerwrap .international {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.footerwrap ul li {
  list-style: none;
  line-height: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.footerwrap ul li ion-icon {
  color: #2eca6a;
  margin-right: 4px;
}

.footerwrap ul li a:hover {
  color: #2eca6a;
}

.footerwrap .estateagency .desc {
  color: #555555;
  margin-bottom: 16px;
}

.footerwrap .estateagency .phone, .footerwrap .estateagency .main {
  line-height: 2;
}
/*# sourceMappingURL=style.css.map */